.App {
  text-align: center;
  background-color: #282c34;
}

.dashboard {
  height: calc(100vh - 2rem);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 4rem 3.5rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
